# Build dependencies
**/node_modules/
**/dist/
generated/

# Backup files created by install scripts
*.backup.*

# OS
.DS_Store
Thumbs.db

# Editor
.idea/
*.swp
*.swo

**/.vitepress/cache
**/.vitepress/dist

# Environment
.env
.env.local

TODO.md

# ulis build output
/.ulis/generated/
